%%%-------------------------------------------------------------------
%%% @author cu-jamin
%%% @copyright (C) 2017, <COMPANY>
%%% @doc
%%%
%%% @end
%%% Created : 24. 二月 2017 上午10:43
%%%-------------------------------------------------------------------
{deps, [{lager, ".*", {git, "https://github.com/basho/lager", {tag, "3.2.1"}}}]}.
{erl_opts,
  [
    {parse_transform, lager_transform}
%%    debug_info,
%%    {src_dirs,
%%      [
%%        "src"
%%      ]
%%
%%    }
  ]
}.
{pre_hooks,[

]}.

{cover_enabled,true}.
{sub_dirs,[
  "src"
]
}.
